<form>
    <div class="form-group">
      <label for="nombre_Cliente">Nombre Cliente</label>
      <input [(ngModel)]="nombre_Cliente" name="nombre_Cliente" type="text" class="form-control" id="nombre_Cliente"  placeholder="Ingrese Nombre">
      <small id="nombre_Cliente" class="form-text text-muted"></small>
    </div>

    <div class="form-group">
      <label for="product_Owner">ProductOwner</label>
      <input [(ngModel)]="product_Owner" name="product_Owner" type="text" class="form-control" id="product_Owner" placeholder="Ingrese ProductOwner">
    </div>
    
    <button (click)="enviar()" type="button"  class="btn btn-primary">Guardar</button>
  </form>


  <div class="card my-5">
   <div class='table-responsive'>  
    <table class="table table-bordered table-striped">   
      <thead class="thead-dark">   
          <tr>   
            <th>Id</th> 
            <th>Nombre cliente</th> 
            <th>Nombre Owner</th>
          </tr>
        </thead>                  
        <tbody>
          <tr *ngFor='let cliente of clientes'>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre_Cliente}}</td>
            <td>{{ cliente.product_Owner}}</td>
              </tr>     
        </tbody>
      </table>
    </div>
  </div>

